.contentDep {
  padding-right: 60px;
  padding-top: 150px;
}

.dep {
  &__img1 {
    position: relative;
    width: 720px;
    height: 800px;
    top: 0;
    left: 0;
  }
  &__img2 {
    position: absolute;
    width: 486px;
    height: 607px;
    left: 115px;
    top: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__text {
    position: absolute;
    width: 300px;
    height: 136px;
    left: 156px;
    top: 685px;

    /* H2 */

    font-family: Lab Grotesque VN;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 68px;
    /* or 106% */

    color: #ffffff;
  }
  &__text1 {
    position: absolute;
    width: 224px;
    height: 136px;
    left: 160px;
    top: 760px;
    font-family: 'Lab Grotesque VN';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    /* identical to box height, or 159% */

    color: #ffffff;
  }
  &__color {
    width: 24px;
    height: 24px;
    background: #ebeded;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 15px;
    &-red {
      background: red;
    }
    &-black {
      background: black;
    }
    &-yellow {
      background: yellow;
    }
  }
}

// mobile image
@media screen and (max-width: 900px) {
  .dep {
    &__img1 {
      height: 430px;
      width: 350px;
    }
    &__img2 {
      width: 253px;
      height: 316px;
      left: 60px;
      top: 40px;
    }
    &__text {
      position: absolute;
      width: 180px;
      height: 80px;
      left: 80px;
      top: 340px;

      /* H2 */

      font-family: 'Lab Grotesque VN';
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 30px;
      /* or 111% */

      color: #ffffff;
    }
    &__text1 {
      position: absolute;
      width: 125px;
      height: 27px;
      left: 80px;
      top: 370px;
      font-family: 'Lab Grotesque VN';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      /* identical to box height, or 159% */

      color: #ffffff;
    }
    &__color {
      width: 24px;
      height: 24px;
      background: #ebeded;
      border-radius: 50%;
      margin-top: 12px;
      margin-right: 15px;
      &-red {
        background: red;
      }
      &-black {
        background: black;
      }
      &-yellow {
        background: yellow;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .contentDep {
    padding-right: 30px;
    padding-top: 35px;
  }
}

@media (min-width: 1200px) {
  .contentDep {
    max-width: 100%;
  }
}

.dep-phai {
  padding: 228px 0 0px 170px;

  &__tren {
    height: 350px;
    width: 430px;
    &-text {
      font-family: 'Lab Grotesque VN';
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 27px;
    }
    &-color {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 10px;
      // margin-left: 15px;
      // margin-top: 15px;
      &-den {
        background-color: #000000;
      }
      &-do {
        background-color: #b83d24;
        border: 4px solid black;
      }
      &-vang {
        background-color: #ffc700;
      }
      &-xam {
        background-color: #adb4b9;
      }
      &-trang {
        background-color: #ebeded;
      }
      &-tim {
        background-color: #6d5093;
      }
      &-dentrang {
        background-color: #12312b;
        transform: rotate(45deg);
      }
      // text-decoration: none;
      // display: inline-block;
    }
    img {
      width: 400px;
      height: 240px;
    }
  }
  &__duoi {
    height: 350px;
    width: 430px;

    img {
      width: 400px;
      height: 240px;
    }
  }
}
@media screen and (max-width: 900px) {
  .dep-phai {
    // padding: 60px 170px 40px 180px;
    &__tren {
      height: 300px;
      width: 450px;
      &-text {
        font-family: 'Lab Grotesque VN';
        font-style: normal;
        font-weight: bold;
        font-size: 11px !important;
        line-height: 15px;
        padding-left: 20px;
      }
      &-color {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 10px;
        // margin-left: 20px;
        // margin-top: 15px;
        &-den {
          background-color: #000000;
        }
        &-do {
          background-color: #b83d24;
          border: 4px solid black;
        }
        &-vang {
          background-color: #ffc700;
        }
        &-xam {
          background-color: #adb4b9;
        }
        &-trang {
          background-color: #ebeded;
        }
        &-tim {
          background-color: #6d5093;
        }
        &-dentrang {
          background-color: #12312b;
          transform: rotate(45deg);
        }
        // text-decoration: none;
        // display: inline-block;
      }
      img {
        width: 350px;
        height: 240px;
      }
    }
    &__duoi {
      height: 350px;
      width: 430px;

      img {
        width: 350px;
        height: 240px;
        padding-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .dep-phai {
    padding: 0px 20px 0px 40px;
    &__tren {
      height: 300px;
      width: 300px;

      img {
        width: 279px;
        height: 264px;
        // margin-left: 50px;
      }
    }
    &__duoi {
      height: 300px;
      width: 300px;

      img {
        width: 279px;
        height: 264px;
        // margin-left: 50px;
      }
    }
  }
}
