.main-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  &__options {
    a svg {
      margin-bottom: 16px;
      margin-left: 29px;
    }
  }
}

@media screen and (max-width: 599px) {
  .main-nav {
    position: absolute;
    width: 375px;
    height: 50px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    &__menu {
      width: 32px;
      height: 32px;
      margin-left: 10px !important;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &__options {
      a svg {
        width: 30px;
        height: 30px;
        margin-bottom: 16px;
        margin-left: 29px;
      }
    }
    &__king {
      svg {
        width: 30px;
        height: 30px;
        margin-bottom: 16px;
      }
    }
    &__giohang {
      svg {
        width: 30px;
        height: 30px;
        margin-bottom: 16px;
      }
    }
  }
}
.Drawer {
  h2 {
    font-family: 'Lab Grotesque VN';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 55px;
    padding-left: 30px;
    /* identical to box height, or 106% */

    /* black */

    color: #111820;
  }
}
.ngonngu {
  padding-top: 120px;
}
