.banner {
  background-image: url("../../assets/images/background-hero.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 180px;
  &__title {
    font-weight: bold;
    font-size: 112px;
    line-height: 112px;
  }
  &__content {
    font-size: 27px;
    line-height: 35px;
  }
  &__buynow {
    width: 151px;
    height: 48px;
    border-radius: 24px;
    outline: none;
    border: none;
  }
}
.navbar {
  .swiper-pagination {
    text-align: left;
    padding-left: 50px;
    &-bullet-active {
      background: #fff;
      border-radius: 5px;
      width: 40px;
    }
  }
}
